@import '~bootstrap/scss/bootstrap';

* {
	user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}

body {
	margin: 0;
	overflow: hidden;
}

canvas {
	display: block;
}

#react {
	position: absolute;
	width: 100%;
}
