@import '~bootstrap/scss/bootstrap';

body {
	margin: 0;
	overflow: hidden;
}

canvas {
	display: block;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#react {
	position: absolute;
	width: 100%;
}

.controls {
	height: 100px;
	touch-action: none;
	width: 100px;
}

#go {
	background-color: green;
}

#stop {
	background-color: red;
}

#turbo {
	background-color: blue;
}

#right {
	background-color: white;
}

#left {
	background-color: white;
}
